<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
</br>
<table>
	<tr>
		<td>Balance</td>
		<td>ID Student</td>
		<td>ID Teacher</td>
		<td>Action</td>
	</tr>
	<% @pockets.each do |pocket| %>
	<tr>
		<td> <%= pocket.balance %> </td>
		<td> <%= pocket.student_id %> </td>
		<td> <%= pocket.teacher_id %> </td>
		<td> <%= link_to 'Detail', pocket_path(pocket) %> || <%= link_to 'Edit', edit_pocket_path(pocket) %> || <%= link_to 'Delete', pocket_path(pocket), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
	</tr>
	<% end %>
</table>
<%= link_to 'New Data!', new_pocket_path %>