<%= form_for(@pocket) do |poc| %>
	<%= poc.label :balance %></br>
	<%= poc.text_field :balance %></br>

	<%= poc.label :student_id %></br>
	<%= poc.text_field :student_id %></br>

	<%= poc.label :teacher_id %></br>
	<%= poc.text_field :teacher_id %></br>

	<%= poc.submit %>
<% end %>