<% if flash[:notice].present? %>
	<%= flash[:notice] %>
<% end %>
</br>
Balance : <%= @pocket.balance %> </br>
ID Student : <%= @pocket.student_id %> </br>
ID Teacher : <%= @pocket.teacher_id %> </br>
