<%= form_for(@student) do |s| %>
	<%= s.label :name %></br>
	<%= s.text_field :name %></br>

	<%= s.label :username %></br>
	<%= s.text_field :username %></br>

	<%= s.label :age %></br>
	<%= s.text_field :age %></br>

	<%= s.label :class %></br>
	<%= s.text_field :rombel %></br>

	<%= s.label :address %></br>
	<%= s.text_field :address %></br>

	<%= s.label :city %></br>
	<%= s.text_field :city %></br>

	<%= s.label :nik %></br>
	<%= s.text_field :nik %></br>

	<%= s.submit %>
<% end %>