<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
</br>
<table>
	<tr>
		<td>NIK</td>
		<td>Name</td>
		<td>Age</td>
		<td>Class</td>
		<td>Subjects</td>
		<td>Action</td>
	</tr>
	<% @teachers.each do |teacher| %>
	<tr>
		<td> <%= teacher.nik %> </td>
		<td> <%= teacher.name %> </td>
		<td> <%= teacher.age %> </td>
		<td> <%= teacher.rombel %> </td>
		<td> <%= teacher.mapel %> </td>
		<td> <%= link_to 'Detail', teacher_path(teacher) %> || <%= link_to 'Edit', edit_teacher_path(teacher) %> || <%= link_to 'Delete', teacher_path(teacher), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
	</tr>
	<% end %>
</table>
<%= link_to 'New Data!', new_teacher_path %>