<%= form_for(@teacher) do |t| %>
	<%= t.label :nik %></br>
	<%= t.text_field :nik %></br>

	<%= t.label :name %></br>
	<%= t.text_field :name %></br>

	<%= t.label :age %></br>
	<%= t.text_field :age %></br>

	<%= t.label :class %></br>
	<%= t.text_field :rombel %></br>

	<%= t.label :subjects %></br>
	<%= t.text_field :mapel %></br>

	<%= t.submit %>
<% end %>