<% if flash[:notice].present? %>
	<%= flash[:notice] %>
<% end %>
</br>
NIK: <%= @teacher.nik %> </br>
Name : <%= @teacher.name %> </br>
Age : <%= @teacher.age %> </br>
Class : <%= @teacher.rombel %> </br>
Subjects : <%= @teacher.mapel %> </br>