<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
</br>
<table>
	<tr>
		<td>ID Transaction</td>
		<td>Status</td>
		<td>Upload</td>
		<td>Action</td>
	</tr>
	<% @payments.each do |payment| %>
	<tr>
		<td> <%= payment.id_transaction %> </td>
		<td> <%= payment.status %> </td>
		<td> <%= payment.upload %> </td>
		<td> <%= link_to 'Detail', payment_path(payment) %> || <%= link_to 'Edit', edit_payment_path(payment) %> || <%= link_to 'Delete', payment_path(payment), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
	</tr>
	<% end %>
</table>
<%= link_to 'New Data!', new_payment_path %>