<%= form_for(@payment) do |pay| %>
	<%= pay.label :id_transaction %></br>
	<%= pay.text_field :id_transaction %></br>

	<%= pay.label :status %></br>
	<%= pay.text_field :status %></br>

	<%= pay.label :upload %></br>
	<%= pay.text_field :upload %></br>

	<%= pay.submit %>
<% end %>