<%= form_for(@exam) do |e| %>
	<%= e.label :title %></br>
	<%= e.text_field :title %></br>

	<%= e.label :subjects %></br>
	<%= e.text_field :mapel %></br>

	<%= e.label :duration %></br>
	<%= e.text_field :duration %></br>

	<%= e.label :score %></br>
	<%= e.text_field :nilai %></br>

	<%= e.label :status %></br>
	<%= e.text_field :status %></br>

	<%= e.label :level %></br>
	<%= e.text_field :level %></br>

	<%= e.label :student_id %></br>
	<%= e.text_field :student_id %></br>

	<%= e.submit %>
<% end %>