<% if flash[:notice].present? %>
	<%= flash[:notice] %>
<% end %>
</br>
Title : <%= @exam.title %> </br>
Subjects : <%= @exam.mapel %> </br>
Duration : <%= @exam.duration %> </br>
Score : <%= @exam.nilai %> </br>
Status : <%= @exam.status %> </br>
Level : <%= @exam.level %> </br>
Student ID: <%= @exam.student_id %> </br>