<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %>
</br>
<table>
	<tr>
		<td>Title</td>
		<td>Score</td>
		<td>Subject</td>
		<td>Title</td>
		<td>ID Student</td>
		<td>ID Teacher</td>
		<td>Date</td>
	</tr>
	<% @reports.each do |report| %>
	<tr>
		<td> <%= report.title %> </td>
		<td> <%= report.nilai %> </td>
		<td> <%= report.mapel %> </td>
		<td> <%= report.student_id %> </td>
		<td> <%= report.teacher_id %> </td>
		<td> <%= report.date %> </td>
		<td> <%= link_to 'Detail', report_path(report) %> || <%= link_to 'Edit', edit_report_path(report) %> || <%= link_to 'Delete', report_path(report), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
	</tr>
	<% end %>
</table>
<%= link_to 'New Data!', new_report_path %>