<%= form_for(@report) do |r| %>
	<%= r.label :title %></br>
	<%= r.text_field :title %></br>

	<%= r.label :nilai %></br>
	<%= r.text_field :nilai %></br>

	<%= r.label :mapel %></br>
	<%= r.text_field :mapel %></br>

	<%= r.label :student_id %></br>
	<%= r.text_field :student_id %></br>

	<%= r.label :teacher_id %></br>
	<%= r.text_field :teacher_id %></br>

	<%= r.label :date %></br>
	<%= r.text_field :date %></br>

	<%= r.submit %>
<% end %>