<% if flash[:notice].present? %>
	<%= flash[:notice] %>
<% end %>
</br>
Title : <%= @report.title %> </br>
Score : <%= @report.nilai %> </br>
Subjects : <%= @report.mapel %> </br>
ID Student : <%= @report.student_id %> </br>
ID Teacher : <%= @report.teacher_id %> </br>
Date : <%= @report.date %> </br>
